@mixin font-face($font-family, $font-style, $font-weight, $file-name, $format) {
    @font-face {
      font-family: $font-family;
      font-style: $font-style;
      font-weight: $font-weight;
      src: url('@/shared/assets/fonts/#{$font-family}/#{$file-name}.#{$format}') format('#{$format}');
    }
}
  
@include font-face('Acrom', normal, 400, 'Acrom-Regular', 'woff');
@include font-face('Acrom', normal, 500, 'Acrom-Medium', 'woff');
@include font-face('Acrom', normal, 600, 'Acrom-Bold', 'woff');
