.Input {
    margin: 0 0 20px;
    padding: 20px;
    width: 100%;
    
    border: 1px solid var(--inverted-primary-color);
    border-radius: 10px;
    
    color: var(--primary-color);
    font: var(--font-s);
    &::placeholder {
        opacity: .5;
    }
    &:focus {
        outline: 1px solid var(--inverted-secondary-color);
    }
}