.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
    &:hover {
        opacity: 0.8;
        fill-opacity: 0.8;
        stroke-opacity: 0.8;
    }
}

.link {
    margin-top: 4px;
    margin-left: 10px;
    opacity: 1;
    transition: 0.2s opacity;
    &:hover {
        opacity: 0.8;
        fill-opacity: 0.8;
        stroke-opacity: 0.8;
    }
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }
}
