$indent: 10px;

.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $indent;
}

.logo {
    max-height: calc(var(--navbar-height) - 2*$indent);
    cursor: pointer;
    transition: transform 0.2s ease;
    &:active {
        transform: translateY(3px);
    }
}
