.LoginFrom {
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--inverted-primary-color);
    border-radius: 20px;
    background-color: var(--inverted-bg-color);
    &__logo {
        width: 100%;
    }
    &__heading {
        padding: 20px;
        color: var(--primary-color);
        font-weight: 600;
        font: var(--font-l);
    }
    &__body {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
    }

}