.LoginFrom {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    &__wrapper {

        padding: 40px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border: 1px solid var(--inverted-primary-color);
        border-radius: 20px;
        background-color: var(--inverted-bg-color);
    }
    &__logo {
        max-height: 200px;
        max-width: 100%;
        margin-bottom: 10px;
    }
    &__heading {
        color: var(--primary-color);
        font-weight: 600;
        font: var(--font-l);
    }
    &__errorPlace {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
    }

}