:root {
    // Шрифты
    --font-family-main: 'Acrom', Arial, sans-serif;
    --font-size-s: 14px;
    --font-line-s: 19px;
    --font-weight-s: 400;
    --font-s: var(--font-weight-s) var(--font-size-s) / var(--font-line-s) var(--font-family-main);

    --font-size-m: 18px;
    --font-line-m: 24px;
    --font-weight-m: 400;
    --font-m: var(--font-weight-m) var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    --font-size-l: 24px;
    --font-line-l: 37px;
    --font-weight-l: 500;
    --font-l: var(--font-weight-l) var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    --font-size-xl: 48px;
    --font-line-xl: 62px;
    --font-weight-xl: 600;
    --font-xl:var(--font-weight-xl) var(--font-size-xl) / var(--font-line-xl)  var(--font-family-main) ;

    // Размеры
    --navbar-height: 60px;
    --sidebar-width: 240px;
    --sidebar-width-collapsed: 100px;

    // Z-индексы

    // Цвета
    --bg-color: #FFFEFB;
    --inverted-bg-color: #fdf0d39d;
    --primary-color: #4c4253;
    --secondary-color: #fffefb;
    --inverted-primary-color: #d7a31f;
    --inverted-secondary-color: #ff7f17;

    --red-light: #f00;
    --red-dark: #ce0505;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;
}